.newsline_container {
  --newsOpacity: 1;
  position: fixed;
  bottom: 0;
  background: #282828;
  padding: 10px 0px;
  overflow: hidden;
  opacity: var(--newsOpacity);
  transition: all 200ms linear;

  .newsline_content {
    --animPlayState: playing;

    color: #f4f4f4;
    display: flex;
    transform: translateX(100vw);
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-size: 20px;
    animation: newsAnim linear 40s infinite;
    animation-play-state: var(--animPlayState);
  }
}

.skeleton {
  position: fixed;
  bottom: 0;
  width: 100vh;
  height: 40px;
}

@keyframes newsAnim {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}
