.card_actions {
  gap: 10px;
}

.day_title {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.today_container {
  width: 365px;

  .today_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.color_stick {
  height: 100%;
  min-height: 40px;
  min-width: 5px;
  border-radius: 3px;
}
