.card_actions {
  gap: 10px;

  .color_stick {
    height: 40px;
    width: 5px;
    border-radius: 3px;
  }

}

.day_title {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.today_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 345px;
}